@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
  
  body {
  font-family: 'Lato', sans-serif;
  background-color: #FFF;
  }

  .content {
  margin-top: 30px;
	margin: 0 auto;
	width: 80%;
  }

  .navbar {
    background-color: #fff;
  }

  .navbar-brand {
    color: #4D4D4D;
    font-weight: 900;
  }

  .nav-link {
    color: #4D4D4D;
    font-weight: 700;
  }

  .landing {
    background-image: url("../img/cover-blue.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 200px 0;
  }

  .landing-text {
    margin: 0 auto;
  }

  .hola {
    text-align: center;
}

  .paragraph-hola {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    margin: 0;
    color: #e6354b;
  }

  .about {
	background-color: #FFF;
	color: #e6354b;
  width: 100%;
  padding: 100px 300px 20px 300px;
  text-align: left;
  margin: 0 auto;
  }

  .story {
  font-family: 'Lato', sans-serif;
  color: #4D4D4D;
  text-align: justify;
  }

  .title-story {
    padding-bottom: 20px;
  }

  h3 {
    font-weight: 500;
    font-size: 40px;
  }

  .paragraph-story {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 26px;
    color: #000;
    text-align: justify;
  }

  .spanish-travelers {
    background-color: #fff;
    padding: 100px 0 150px 0;
    }
  
    .spanish-text {
      font-size: 70px;
      font-family: "Lato", sans-serif;
      color: #e6354b;
      font-weight: 900;
      padding: 0;
    }

.carousel-span {
        margin: 0 200px;
      }

    .journey {
      font-size: 32px;
      font-weight: 700;
    }
  
    .project-visit {
      background-color: #fff;
      padding: 100px 0 0 0;
  }
  
    .btn-project {
      background-color: #e6354b;
      color: #fff;
      font-weight: 300;
      font-size: 1.2rem;
      padding: 1.5rem;
      border: #e6354b solid;
      text-decoration: none;
  }
  
    .btn-project:hover {
      background-color: #fff;
      color: #e6354b;
      border: #e6354b solid;
  }

  .footer {
	background-color: #e6354b;
	color: #fff;
	text-align: center;
	padding: 80px 0 80px 0;
  }

  .contact-us {
  font-family: 'Lato', sans-serif;
  font-size: 70px;
  font-weight: bold;
  color: #fff;
  margin: 0 0 20px 0;
  padding: 20px 0 20px 0;
  }

  .email {
  font-size: 26px;
  font-weight: 200;
  color: #fff;
  text-decoration: none;
  }

  .email:hover {
  color: #000;
  }

  .social-icon {  
  padding: 20px 0;
  }

  .insta {
    padding: 0 5px;
  }

  .insta:hover {
    color: #000;
    }

  .twitter {
    padding: 0 5px;
  }

  .twitter:hover {
    color: #000;
    }

  .copyright {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 200;
  margin: 0;
  }

  @media (max-width: 1140px) {

    .landing {
      padding: 100px 0 20px 0;
    }

    .hola {
      padding: 100px 10px;
      margin: 0;
    }

    .about {
      padding: 40px 0 20px 0;
      }

    .story {
    padding: 0 5%;
    }

    .paragraph-story {
      padding: 0 5px;
      font-size: 20px;
    }

    .gif {
      padding-bottom: 40px;
    }

    .logotype {
      max-width: 100%;
    }

    .paragraph-hola {
      font-size: 20px;
    }

    .title-story {
      font-size: 24px;
    }

    .spanish-travelers {
      padding: 0 0 50px 0;
      }
    
      .spanish-text {
        font-size: 60px;
      }

	.carousel-span {
        margin: 0;
      }
  
      .journey {
        font-size: 30px;
      }

      .project-visit {
        padding: 50px 0 0 0;
    }
    
    .btn-project {
        font-size: 14px;
        padding: 16px;
    }

    .contact-us {
      font-size: 50px;
      padding: 0;
    }

    .email {
      font-size: 26px;
    }

    .social-icon {
      padding: 10px 0;
    }
  }
